<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.dubinostech.rideshareapp">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rideshare_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.Base_And_Main_Activities.MainActivity"
            android:label="@string/title_activity_main">
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity


            android:name=".ui.activities.LoginActivity"
            android:label="@string/title_activity_login" />
        android:name=".ui.activityies.LoginActivity"
        android:label="@string/title_activity_main" />
        <activity
            android:name=".ui.signup.SignUpActivity"
            android:label="@string/title_activity_signup" />

    </application>

</manifest>